.order-list {
    .order-list-table {
        >tr {
            >td {
                .select-box {
                    width: 20vh;
                    max-width: 120px;
                }

                &:nth-child(3), &:nth-child(5) {
                    color: #6734ff;
                    cursor: pointer;
                }
            }
        }
    }
}

.table-2 {
    border-collapse: collapse;

    >tr {
        &:nth-child(odd) {
            background-color: rgba(192, 192, 192, 0.267);
        }

        &:last-child {
            border-bottom: 2px solid #6734ff;
        }

        >td, >th {
            padding: 8px;
            border: 1px solid silver;
            text-align: center;
        }
    }
}

.customer-info {
    >p {
        display: flex;
        gap: 15px;
        justify-content: space-between;
        margin: 0;
        border: 1px solid silver;
        padding: 10px;
        border-collapse: collapse;
    }
}