.overall-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .overall-list__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
        .overall-list__item__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            --size: 45px;
            width: var(--size);
            height: var(--size);
            border-radius: 50%;
            background-color: #edefff;
            margin-right: 10px;
        }

        .overall-list__item__info {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
        }
    }
}