.box {
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
}

.summary-box-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;

    >div {
        flex: 1;
    }

    @media screen and (max-width: 1080px) {
        gap: 20px
    }
}

.summary-box {
    /* display: flex;
    align-items: stretch;
    justify-content: flex-start; */
    height: auto;
    max-height: 400px !important;
    display: grid;
    grid-template-columns: 70% 1fr;

    .summary-box__chart {
        width: 100%;

        .summary-box__chart__value {
            margin-top: -10%;
            font-weight: 700;
        }
    }

    .summary-box__info {
        width: 65%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;

        .summary-box__info__title {
            font-size: 1.1rem;
            font-weight: 700;
            line-height: 1.2;

            >span {
                font-size: 13px;
                font-weight: 700;
                color: #DB190C;
            }
        }

        .summary-box__info__value {
            font-weight: 700;
            font-size: 1.1rem;
            color: black;
        }
    }
}