.main {
    padding-left: 240px;
    overflow-x: hidden;

    /* sidebar on the right */
    /* padding-right: 240px; */

    @media screen and (max-width: 1080px) {
        padding-left: 0;
        width: 100vw;

        /* sidebar on the right */
        /* padding-right: 0; */
    }

    .main__content {
        min-height: 100vh;
        padding: 30px;
        transition: all 0.5s ease-in-out;

        @media screen and (max-width: 1080px) {
            padding: 20px;
            position: relative;
            background-color: #f8f4f4;
            /* edefff; */
            z-index: 100;
        }
    }
}

.sidebar-open .main__content {
    height: 100vh;
    overflow: hidden;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transform: scale(0.8) translateX(50%);
    transition: all 0.5s ease-in-out;

    /* sidebar on the right */
    /* border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transform: scale(0.8) translateX(-50%); */
}